<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Titlen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="student-layout">
    <header>
        <nav class="nav sticky-top navbar-expand-md">
            <div class="navbar-brand">
                <img src="~/Content/Images/lg.png" alt="logo" />
                <span class="school-name">PAPATPOETOE HIGH SHOOL</span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="colapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Trang Chủ","Index", "Home", new { @class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Lớp", "Index", "Lop", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Trang Chủ", "Index", "HocSinh", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Trang Chủ", "Index", "NamHoc", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <main>
        <div class="container-lg">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 align-items-center">
                        <div class="team-info">
                            <h3>Complete By</h3>
                            <ul class="list-member" style="list-style:inside">
                                <li><a href="http://fb.com/SUHOANGAN" class="btn-link">Sử Hoàng Ân</a></li>
                                <li><a href="http://fb.com/kai3089" class="btn-link">Huỳnh Anh Kiệt</a></li>
                                <li><a href="http://fb.com/100005531386995" class="btn-link">Hồ Thị Ánh</a></li>
                                <li><a href="http://fb.com/sieng.phamhoai" class="btn-link">Phạm Hoài Siêng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 align-items-center">
                        <h3>
                            Gửi ý kiến của bạn cho chúng tôi
                        </h3>
                        <div class="feedback-form">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="emailAddress">
                            <label class="control-label" for="fullname">Họ tên</label>
                            <input class="form-control" type="text" name="fullname" id="fullname">
                            <label for="feedback-content" class="label-control">Nội dung</label>
                            <textarea class="form-control" name="feedback-content" id="feedbackContent" cols="30" rows="10"></textarea>
                            <div class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-10">
                                <button class="btn btn-primary" type="submit">Gửi</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 align-items-center">
                        <h3>Trường trung học Papatoetoe</h3>
                        <div class="contact-info">
                            <p>155 Sư Vạn Hạnh (nối dài) P13 Q10 TPHCM</p>
                            <p>Số điện thoại: 0123 456 789</p>
                            <p>Email: contact@papatoetoe.edu.vn</p>
                        </div>
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="488" height="337" id="gmap_canvas" src="https://maps.google.com/maps?q=155%20Su%20Van%20Hanh&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                <a href="https://www.crocothemes.net" rel="noreferrer" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="footer-bottom">
            <div class="container">
                <span> Copyright &copy; 2015 ABC DEF GHI KLM :)</span>
            </div>
        </div> -->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
