@model IEnumerable<DOAN_WEBNC.Models.DiemHS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HocKy.IDHocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocSinh.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMonHoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HocKy.IDHocKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocSinh.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMonHoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBangDiem }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBangDiem }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBangDiem })
        </td>
    </tr>
}

</table>
